.box {
  background-color: red;
  height: 200px;
  width: 500px;
  font-color: white;
  margin-bottom: 10px;
}

.box p{
  color: black;
}

.box p:first-child{
  font-size: 25px;
  font-style: italic;
}
.box p:nth-child(1){
   color: yellow;
}


.box:hover{
 background-color: black; 
}

.button:hover {
  background-color: blue;
}
  


