.box {
  background-color: red;
  height: 100px;
  width: 100px;
  font-color: 000000;
  margin-bottom: 10px;
}

.box p{
  color: black;
}

.box p:first-child{
  font-size: 25px;
  font-style: italic;
}
.box p:nth-child(1){
   color: yellow;
}

.button:hover {
  background-color: blue;
} 
  


