.box {
  background-color: red;
  height: 100px;
  width: 100px;
  font-size: 9px;
  margin-bottom: 10px;
}

.box p{
  color: black;
}

.box p:first-child{
  font-style: italic;
}
.box p:nth-child(2){
   color: white;
}

.button:hover {
  background-color: blue;
} 

.ul {
  font-color: blue;
}
  


